@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


@layer base {
  body {
    @apply font-nunito overflow-auto h-auto
  }

  .shape-1 {
    @apply w-[200px] h-[200px] xl:w-[250px] xl:h-[250px] absolute top-[-20px] right-[40px] xl:right-[-20px] opacity-[.1] transform rotate-45  animate-shaps-float
  }
  .shape-2 {
    @apply w-[150px] h-[150px] xl:w-[200px] xl:h-[200px] bottom-[-30px] left-[50px] opacity-[.15] transform rotate-15 animate-shaps-float absolute
  }
  .shape-3{
    @apply w-[100px] h-[100px] xl:w-[150px] xl:h-[150px] top-[20%] right-[15%] opacity-[.08] transform rotate-15 absolute
  }
  .dot-1{
    @apply w-[100px] h-[100px] xl:w-[200px] xl:h-[200px] top-[50px] left-[10%] opacity-[.1] transform rotate-15 animate-shaps-float absolute
  }
  .dot-2{
    @apply absolute w-[150px] h-[150px] bottom-[20px] right-[15%] opacity-[.15] transform -rotate-10 animate-shaps-float
  }
  
}

#client .swiper-pagination{
  @apply relative !mt-[20px]
}
.title-section {
  @apply text-center mb-[20px] pb-[20px] relative text-4xl font-[700] text-primary/80 after:content-[''] after:absolute after:block after:w-[50px] after:h-[3px] after:bg-accent after:left-0 after:right-0 after:bottom-0 after:m-auto;
}
.desc-section{
  @apply text-base text-primary/80 text-center;
}
.i-quote{
  @apply inline-block  relative  text-[color-mix(in_srgb,_#0d83fd_,transparent_50%)];
}
